.header {
    position: relative;
    color: color(black);

    &__container {
        position: relative;
        z-index: 1;
        width: col(6, 12);
        padding: rem(120) 0 rem(100);
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    &__title {
        font-size: rem(80);
        font-weight: 700;
        line-height: 100%;
    }

    &__txt {
        font-size: rem(20);
        line-height: 140%;
        margin-top: rem(20);

        & *:last-child {
            margin-bottom: 0;
        }
    }

    &__actions {
        display: flex;
        flex-wrap: wrap;
        gap: rem(16);
        margin-top: rem(32);
    }

    &__background {
        @include cover();
    }

    &--img {
        color: color(white);
    }

    @include mq($until: l) {
        &__container {
            width: col(10, 12);
            padding-bottom: rem(80);
        }
    }

    @include mq($until: m) {
        &__container {
            width: auto;
            padding: rem(120) 0 rem(60);
        }

        &__title {
            font-size: rem(60);
        }

        &__txt {
            font-size: rem(m);
        }
    }
}
