.list-item {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 8.5277777778% 1.5rem 0;
    position: relative;
    width: 100%;
    border-bottom: 0.1rem solid rgba(33, 34, 54, .1);

    &__title {
        color: #212236;
        font-family: false semibold, Helvetica, Arial, sans-serif;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        min-width: 57.3611111111%;
        width: 50%;
    }

    &__infos {
        align-items: center;
        display: flex;
        flex: 1;
        flex-shrink: 0;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        min-width: 300px;
    }

    &__info {
        color: rgba(33, 34, 54, .5);
        flex-shrink: 0;
        font-family: IBM Plex Mono, Helvetica, Arial, sans-serif;
        font-size: .75rem;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__link{
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        text-indent: -999999px;
        top: 0;
        z-index: 1;
    }
    &__icon{
        background-color: #fff;
        border-radius: 100vw;
        box-shadow: inset 0 0 0 1px #f1f1f2;
        display: block;
        height: 2.75rem;
        margin-left: auto;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: all .2s cubic-bezier(.25,.46,.45,.94);
        width: 2.75rem;

        &:after{
            align-items: center;
            content: url("../../icons/arrow-right.svg");
            scale: 30%;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            line-height: 1;
        }
    }
}
