.layout-image {
    width: 100%;

    &__fig {
        margin: 0 auto;
        width: col(6, 12);
    }

    &__img {
        width: 100%;
    }

    &__caption {
        font-size: rem(12);
        line-height: 130%;
        margin-top: rem(8);
    }

    @include mq($until: l) {
        &__fig {
            width: col(10, 12);
        }
    }

    @include mq($until: s) {
        &__fig {
            width: auto;
        }
    }
}
