.sidebar {
    display: none;
    @include cover();
    background: rgba(0, 0, 0, 0.7);

    &:target,
    &--open {
        display: block;
        animation: 250ms $ease-out-quad forwards fade-in;

        .sidebar__container {
            animation: 300ms $ease-out-quad forwards slide-in;
        }
    }

    &--closed {
        animation: 250ms $ease-out-quad 50ms forwards fade-out;

        .sidebar__container {
            animation: 300ms $ease-out-quad forwards slide-out;
        }
    }

    &__container {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        padding-top: rem(24);
        padding-bottom: rem(24);
        background: color(white);
        overflow: hidden;
    }

    &__close {
        display: inline-block;
        color: color(text-primary);
        text-decoration: none;
        text-align: right;
        width: 100%;

        &:after {
            @include icon(more);
            font-size: rem(14);
        }
    }

    &__content {
        flex: 1;
    }
}

@keyframes slide-in {
    0% {
        width: 0;
        padding-left: 0;
        padding-right: 0;
    }
    100% {
        width: 25vw;
        padding-left: rem(24);
        padding-right: rem(24);
    }
}

@keyframes slide-out {
    0% {
        width: 25vw;
        padding-left: rem(24);
        padding-right: rem(24);
    }
    100% {
        width: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

@keyframes fade-in {
    0% {
        background: transparent;
    }
    100% {
        background: rgba(0, 0, 0, 0.7);
    }
}

@keyframes fade-out {
    0% {
        background: rgba(0, 0, 0, 0.7);
    }
    100% {
        background: transparent;
    }
}
