/node_modules
/public/*
!/public/index.php
!/public/.htaccess
!/public/robots.txt
!/public/web.config
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/.idea
/.vscode
/.vagrant
*.code-workspace
composer.lock
.swp
.php_cs.cache
thumbs.db
/resources/icons/_optimized
