.button {
    display: inline-block;
    background: color(text-primary);
    padding: rem(11) rem(14);
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    border: none;
    transition:
        background 300ms $ease-out-quad,
        border 300ms $ease-out-quad,
        box-shadow 300ms $ease-out-quad;

    &:hover,
    &:focus,
    &:active {
        background: color(text-secondary);
    }

    &:focus,
    &:active {
        box-shadow: 0 0 0 3px color(border-active);
    }

    &[disabled] {
        background: color(background-medium);
        cursor: not-allowed;

        .button__label {
            color: color(text-disabled);
        }

        &:hover,
        &:active,
        &:focus {
            background: color(background-medium);
            box-shadow: none;

            &.button--outline {
                border: 1px solid color(border-light);
            }

            .button__label {
                color: color(text-disabled);
            }
        }

        &.button--outline {
            box-shadow: none;
        }
    }

    &__label {
        font-size: rem(14);
        line-height: 120%;
        color: color(text-contrast);
        transition: color 300ms $ease-out-quad;
    }

    &--secondary {
        background: color(background-medium);

        &:hover {
            background: color(border-light);
        }

        &:focus,
        &:active {
            background: transparent;
        }

        .button__label {
            color: color(text-primary);
        }
    }

    &--outline {
        border: 1px solid color(border-light);
        background: transparent;

        &:hover,
        &:focus,
        &:active {
            border: 1px solid color(border-dark);
            background: transparent;
        }

        &.button--large {
            box-shadow: 0 2px 5px rgba(color(black), 0.1);

            &:focus,
            &:active {
                box-shadow: 0 0 0 3px color(border-active);
            }
        }

        .button__label {
            color: color(text-primary);
        }
    }

    &--large {
        padding: rem(12) rem(20);
        border-radius: 8px;

        & .button__label {
            font-size: rem(16);
            line-height: 150%;
        }
    }

    &--small {
        padding: rem(9) rem(10);
    }

    &--tiny {
        padding: rem(4) rem(8);
    }

    &--small,
    &--tiny {
        & .button__label {
            font-size: rem(13);
            line-height: 110%;
        }
    }

    &--icon {
        .button__label {
            display: flex;
            align-items: center;
            gap: rem(4);

            &:before {
                font-size: rem(12);
            }
        }

        &.button--large {
            & .button__label {
                gap: rem(8);

                &:before {
                    font-size: rem(14);
                }
            }
        }

        &.button--tiny {
            & .button__label:before {
                font-size: rem(9);
            }
        }

        &-right {
            .button__label {
                flex-direction: row-reverse;
            }
        }

        &-more {
            .button__label:before {
                @include icon("more");
            }
        }

        &-arrow-right {
            .button__label:before {
                @include icon("arrow-right");
            }
        }
    }
}
