.button {
  background: color(text-primary);
  padding: rem(12) rem(20);
  font-weight: 700;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  border: none;
  transition:
    background 300ms $ease-out-quad,
    border 300ms $ease-out-quad;
  text-decoration: none;

  &__label {
    font-size: rem(m);
    line-height: 150%;
    color: color(text-contrast);
    transition: color 300ms $ease-out-quad;

    &:before {
      transition: transform 150ms $ease-out-quad;
    }
  }

  &:hover,
  &:focus {
    background: color(text-secondary);
  }

  &--loading {
    background: color(text-secondary);
    border: 3px solid color(action-light);
    pointer-events: none;
  }

  &--disabled {
    background: color(action-disabled);

    .button {
      &__label {
        color: color(text-disabled);
      }
    }
  }

  &--outline {
    border: 1px solid color(border-light);
    background: transparent;
    box-shadow: 0 2px 5px rgba(color(black), 0.1);

    .button {
      &__label {
        color: color(text-primary);
      }
    }

    &:hover,
    &:focus {
      border: 1px solid color(border-dark);
      background: transparent;
    }
  }

  &--medium {
    padding: rem(11) rem(14);
    box-shadow: none;

    .button {
      &__label {
        font-size: rem(14);
      }
    }
  }

  &--small {
    padding: rem(9) rem(10);
    box-shadow: none;

    .button {
      &__label {
        font-size: rem(13);
      }
    }
  }

  &--tiny {
    padding: rem(4) rem(8);
    box-shadow: none;

    .button {
      &__label {
        font-size: rem(13);
        line-height: 110%;
        gap: rem(6);

        &:hover {
          &:before {
            transform: translateX(rem(1));
          }
        }

        &:before {
          font-size: rem(10);
        }
      }
    }
  }

  &--icon {
    .button__label {
      display: flex;
      align-items: center;
    }

    &-right {
      .button__label {
        flex-direction: row-reverse;
      }
    }

    /*
        Add the different icons here
        Ex:
        &-arrow-right {
            .button__label:before {
                @include icon("arrow-right");
            }
        }
        */
  }
}
