$wysiwyg_foo_variable: 'original';
$wysiwyg_bar_variable: 12px;

.wysiwyg {
    font-size: $wysiwyg_bar_variable;

    &:before {
        content: $wysiwyg_foo_variable;
        display: block;
    }

    &__element {
        .wysiwyg--modifier & {
            &.wysiwyg__test--something {
                color: blue;
            }
        }
    }
}
