@use "sass:math";

$text-width: rem(592);
$img-width: rem(794);

.layout-wysiwyg {
  width: $img-width;
  margin: 0 auto;
  font-size: rem(m);
  line-height: 140%;
  color: color(black);

  > * {
    width: $text-width;
    margin-left: auto;
    margin-right: auto;

    & + p,
    & + img,
    & + table,
    & + ul,
    & + ol,
    & + blockquote {
      margin-top: rem(28);
      margin-bottom: rem(28);
    }
  }

  .layout-img {
    width: $img-width;

    &__figcaption {
      width: $text-width;
      padding: 0 math.div($img-width - $text-width, 2);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
  }

  h1 {
    font-size: rem(36);
    line-height: 120%;
    margin-top: rem(64);
    margin-bottom: rem(32);
    letter-spacing: rem(-0.784);
  }

  h2 {
    font-size: rem(24);
    line-height: 130%;
    margin-top: rem(32);
    margin-bottom: rem(18);
    letter-spacing: rem(-0.464);
  }

  h3 {
    font-size: rem(20);
    line-height: 140%;
    margin-top: rem(28);
    margin-bottom: rem(16);
    letter-spacing: rem(-0.336);
  }

  h4 {
    font-size: rem(18);
    line-height: 150%;
    margin-top: rem(24);
    margin-bottom: rem(12);
    letter-spacing: rem(-0.256);
  }

  h5 {
    font-size: rem(m);
    line-height: 150%;
    margin-top: rem(20);
    margin-bottom: rem(8);
    letter-spacing: rem(-0.176);
  }

  p {
    font-size: rem(m);
    line-height: 150%;
    color: color(black);
  }

  a {
    color: color(black);
    position: relative;
    box-shadow: 0 1px 0 0 color(black);
    text-decoration: none;
    transition: box-shadow 300ms $ease-out-quad;

    &:hover,
    &:focus {
      box-shadow: 0 1px 0 0 color(white);
    }
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: 700;
  }

  figcaption {
    font-size: rem(12);
    line-height: 150%;
    margin-top: rem(16);
  }

  ol,
  ul {
    li {
      padding: 0 0 0 rem(32);
      position: relative;
      margin-bottom: rem(8);
      margin-top: rem(8);

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
      }
    }
  }

  ol {
    list-style-type: none;
    counter-increment: section;

    li {
      counter-increment: subsection;

      &:before {
        content: counter(subsection) ".";
      }
    }

    ol {
      list-style-type: none;
      counter-increment: section;

      li {
        counter-increment: subsubsection;

        &:before {
          content: counter(subsubsection) ".";
        }
      }
    }

    ul {
      li {
        counter-increment: none;

        &:before {
          content: "";
        }
      }
    }
  }

  ul {
    li:before {
      width: rem(4);
      height: rem(4);
      background: color(black);
      border-radius: 100%;
      top: rem(8);
    }
  }

  blockquote {
    text-align: left;
    line-height: 120%;
    margin-left: math.div($img-width - $text-width + rem(32), 2);
  }

  img {
    width: 100%;
    height: auto;
  }

  table {
    font-size: rem(m);
    text-align: left;

    thead {
      font-weight: 600;
    }

    tr {
      border-bottom: 1px solid color(bordermedium);
    }

    td,
    th {
      padding: rem(12) 0 rem(13);
    }
  }
}
